<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userRequest">
            <h2><span>User Request</span> {{userRequest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Request</span></dt>
                <dd>
                    <span>{{userRequest.request}}</span>
                </dd>
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{userRequest.userId}}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{userRequest.createdAt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-request', userRequest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
